#### Functions

In [1]:
def clean_text(text):
    text = text.lower()
    return re.sub('[^a-zA-Z]', ' ', text)
  
def clean_data(df):
    df.text = pd.DataFrame(df.text.apply(clean_text))
    return df

def feature_eng1(df,txt):
    df.insert(0,'len',txt.text.str.split().str.len(),True)

def to_tfidf(df,model):
    return pd.DataFrame(model.transform(df).todense(), columns = model.get_feature_names())

def predict(dat):
    df = clean_data(dat)
    df = to_tfidf(df.text,cv_model)    
    feature_eng1(df,dat)        
    dat['is_humor'] = task1_model.predict(df)
    dat['humor_rating'] = task2_model.predict(df)
    df['humor_rating'] = dat['humor_rating']
    dat['humor_cont'] = task3_model.predict(df)

#### Libraries

In [2]:
import pandas as pd
import numpy as np
import re, string
import pickle

#  Loading the models
cv_model = pickle.load(open('cv_model.sav', 'rb'))
task1_model = pickle.load(open('Classif_Model-1.pkl', 'rb'))
task2_model = pickle.load(open('Regres_Model-1.pkl', 'rb'))
task3_model = pickle.load(open('HC_CLF2.sav', 'rb'))

/Users/scepeda/anaconda2/envs/tensorflow19py36/lib/python3.6/site-packages/sklearn/base.py:334: UserWarning: Trying to unpickle estimator LabelBinarizer from version 0.23.2 when using version 0.23.1. This might lead to breaking code or invalid results. Use at your own risk.
  UserWarning)
/Users/scepeda/anaconda2/envs/tensorflow19py36/lib/python3.6/site-packages/sklearn/base.py:334: UserWarning: Trying to unpickle estimator RidgeClassifier from version 0.23.2 when using version 0.23.1. This might lead to breaking code or invalid results. Use at your own risk.
  UserWarning)
/Users/scepeda/anaconda2/envs/tensorflow19py36/lib/python3.6/site-packages/sklearn/base.py:334: UserWarning: Trying to unpickle estimator BayesianRidge from version 0.23.2 when using version 0.23.1. This might lead to breaking code or invalid results. Use at your own risk.
  UserWarning)
/Users/scepeda/anaconda2/envs/tensorflow19py36/lib/python3.6/site-packages/sklearn/base.py:334: UserWarning: Trying to unpickle estimator DecisionTreeClassifier from version 0.23.2 when using version 0.23.1. This might lead to breaking code or invalid results. Use at your own risk.
  UserWarning)
/Users/scepeda/anaconda2/envs/tensorflow19py36/lib/python3.6/site-packages/sklearn/base.py:334: UserWarning: Trying to unpickle estimator RandomForestClassifier from version 0.23.2 when using version 0.23.1. This might lead to breaking code or invalid results. Use at your own risk.
  UserWarning)

#### Evaluate Test Data

In [3]:
path = 'public_test.csv'
df = pd.read_csv(path, sep = ',', encoding="UTF-8")

predict(df)
df

,id,text,is_humor,humor_rating,humor_cont
0,9001,finding out your ex got fat is like finding ...,0,0.875147,0
1,9002,for brockmann stereotypes imperil national se...,0,0.384164,0
2,9003,a girl runs up to her mother with a pile of cr...,0,1.298228,0
3,9004,gotta wonder if baseball still would ve been c...,0,1.300967,0
4,9005,when you re dreading getting in the shower cuz...,0,0.961979,0
...,...,...,...,...,...
995,9996,what do you call a black man on the moon an a...,0,0.707483,0
996,9997,when im picking someone up and they ask how lo...,0,1.067091,0
997,9998,a black lesbian an obese white neck beard an...,0,1.087748,0
998,9999,and i recognize the need to use all of my plat...,0,1.265905,0
999,10000,get married so you can argue about fun things ...,0,1.535947,0

#### Evaluate new data

In [4]:
my_text = pd.DataFrame(['here you can write your oun sentens',
                        'even more than one ;)',
                        'make you oun jokes and evaluate how funny they are?'],columns=['text'])
predict(my_text)
my_text

,text,is_humor,humor_rating,humor_cont
0,here you can write your oun sentens,0,-0.191700,0
1,even more than one,1,2.165213,0
2,make you oun jokes and evaluate how funny they...,0,0.884400,0